.portfoliostyle{
    letter-spacing: 2px;
    background-color: #e5e5e5;
}


.scrolled {
    color: turquoise;
    font-weight: 1000px;
    transition: color 500ms;
}

.darkm {
  color: white !important;
  background-color: black !important;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    color: #264653;
}
.heading{
        height: 90vh;
background-color: #e5e5e5;
}
.darkm .header {
    background: #252627;
}
.dropclass{
    background-color: #e5e5e5;
}
.dropclass li a{
    color: #457b9d;
}
.dropclass li a:hover{
        background-color: #e5e5e5;

    color: #1d3557;
}
.aboutstyle{
    height:100vh;
}