html{
	margin:0px;
}

.headimage{
	background-image: url("img2.jpg");
	 background-position: top left;
    background-size: cover;
    height: 84vh;
}
.scrolled {
    color: turquoise;
    font-weight: 1000px;
    transition: color 2000ms;
}

.darkm {
  color: white !important;
  background-color: black !important;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    color: #EA1C2C;
}
